<!DOCTYPE html>
<html>
  <head>
    <title>Book Q&A: The Little Prince</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_pack_tag 'ask-about-this-book-bundle' %>
    <%= stylesheet_pack_tag 'ask-about-this-book-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
